@model BudgetGenerator.Models.ReportModel

@{
    Layout = null;
    var featureCounter = 1;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/report.css">
    <title>Budget Generator</title>
</head>

<body>
    <div class="container-logo-report">
        <img src="~/images/logo-report.jpg" alt=""></div>
    <div class="initial-page-footer">
        <p>DOCUMENTAÇÃO FUNCIONAL DO SISTEMA</p>
    </div>
<div class="body-report">
    <h1>@Model.ReportTitle</h1>
    @foreach (var feature in Model.Features)
    {
        List<string> serviceList = new List<string>();
       <div class="feature-container">
            <p>Funcionalidade @featureCounter: @feature.Name (@feature.AmountHours Horas)</p>
            <ul>    
                @foreach (var service in feature.Services)
                {
                    serviceList.Add($"{service.ServiceType} {service.Complexity}");
                }
                    @{string resultString = string.Join(" + ", serviceList);}
                        <li class="services-list">@resultString</li>
            </ul>
            <p class="description-feature">@feature.Description</p>
       </div>
        featureCounter++;
    }

</div>
    <p><strong>Total de Horas do Projeto:</strong> @Model.BudgetedHours</p>
</body>

</html>